@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">mst-01</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core11</a>.</p>
</div>
